
@{
    ViewBag.Title = "Input";
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8">
    <title>vue+boostrap最佳实践2</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
    <table id="app" class="table">
        <tr>
            <th class="text-right" v-on:click="sortBy('id')">序号</th>
            <th class="text-right" v-on:click="sortBy('name')">书名</th>
            <th class="text-right" v-on:click="sortBy('author')">作者</th>
            <th class="text-right" v-on:click="sortBy('price')">价格</th>
            <th class="text-right">操作</th>
        </tr>

        <tr v-for="book in books ">
            <td class="text-right">{{book.id}}</td>
            <td class="text-right">{{book.name}}</td>
            <td class="text-right">{{book.author}}</td>
            <td class="text-right">{{book.price}}</td>
            <td class="text-right" v-if="book.id%2==0">
                <button type="button" class="btn btn-success" v-on:click="delBook(book)">删除</button>
            </td>
            <td class="text-right" v-else>
                <button type="button" class="btn btn-danger" v-on:click="delBook(book)">删除</button>
            </td>



        </tr>
    </table>
    <div id="add-book">
        <legend>添加书籍</legend>
        <div class="form-group">
            <label for="">书名</label>
            <input type="text" class="form-control" v-model="book.name">
        </div>
        <div class="form-group">
            <label for="">作者</label>
            <input type="text" class="form-control" v-model="book.author">
        </div>
        <div class="form-group">
            <label for="">价格</label>
            <input type="text" class="form-control" v-model="book.price">
        </div>
        <button class="btn btn-primary btn-block" v-on:click="addBook()">添加</button>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/Scripts/vue-2.1.8.js"></script>

    <script>
        $(function () {
          
            var demo = new Vue({
                el: '#app',
                data: {
                    book: {
                        id: 0,
                        author: '',
                        name: '',
                        price: ''
                    },
                    books: [
                        {
                            id: 1,
                            author: '曹雪芹',
                            name: '红楼梦',
                            price: 32.0
                        }, {
                            id: 2,
                            author: '施耐庵',
                            name: '水浒传',
                            price: 30.0
                        }, {
                            id: '3',
                            author: '罗贯中',
                            name: '三国演义',
                            price: 24.0
                        }, {
                            id: 4,
                            author: '吴承恩',
                            name: '西游记',
                            price: 20.0
                        }
                    ]
                },
                methods: {
                    sortBy: function (sortparam) {
                        this.sortparam = sortparam;
                    },
                    addBook: function () {
                        //计算书的id
                        this.book.id = this.books.length + 1;
                        this.books.push(this.book);
                        //将input中的数据重置
                        this.book = '';
                    },
                    delBook: function (book) {
                        this.books.$remove(book);
                    }
                },

            })
        })
    </script>
</body>
</html>
